<nav class="navbar navbar-expand-lg navbar-light bg-light main-container">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Buy Courses</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {{#if isHome}}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
        {{else}}
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>
        {{/if}}

        {{#if isCourses}}
          <li class="nav-item">
            <a class="nav-link active" href="/courses">Courses</a>
          </li>
        {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/courses">Courses</a>
          </li>
        {{/if}}

      {{#if isAdd}}
        <li class="nav-item">
          <a class="nav-link active" href="/add">Add</a>
        </li>
      {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/add">Add</a>
        </li>
      {{/if}}
        {{#if isCard}}
          <li class="nav-item">
            <a class="nav-link active" href="/card">Card</a>
          </li>
        {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/card">Card</a>
          </li>
        {{/if}}
        {{#if isOrder}}
          <li class="nav-item">
            <a class="nav-link active" href="/orders">Orders</a>
          </li>
        {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/orders">Orders</a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>