<h1>Add course</h1>

<form action="/add" method="post">
  <div class="form-group">
    <label for="title">Course title</label>
    <input id="title" name="title" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="price">Course price</label>
    <input id="price" name="price" type="number" class="form-control">
  </div>
  <div class="form-group">
    <label for="img">Course title</label>
    <input id="img" name="img" type="text" class="form-control">
  </div>
  <button class="btn btn-primary shadow my-2">Add</button>
</form>