<div id="card" class="p-2">
  {{#if courses.length}}
    <table class="table">
      <thead>
      <tr>
        <th class="text-center" scope="col">Title</th>
        <th class="text-center" scope="col">Count</th>
        <th class="text-center" scope="col">Price</th>
        <th class="text-center" scope="col">Delete</th>
      </tr>
      </thead>
      <tbody>
      {{#each courses}}
        <tr>
          <td class="text-center">{{title}}</td>
          <td class="text-center">{{count}}</td>
          <td class="text-center">{{price}}</td>
          <td class="text-center">
            <button class="btn btn-danger js-remove" data-id="{{id}}">Delete</button>
          </td>
        </tr>
      {{/each}}
      </tbody>
    </table>
    <hr>
    <p><span class="price">{{price}}</span></p>
    <hr>
    <form action="/orders" method="post">
      <button type="submit" class="btn btn-success">Order courses</button>
    </form>
  {{else}}
    <p class="text-warning">There is no card items</p>
  {{/if}}
</div>
