<h1>Courses</h1>
<div class="row">
  {{#if courses.length}}
    {{#each courses}}
      <div class="col-md-4 col-12 d-flex align-items-stretch">
        <div class="card w-100 mb-2">
          <img src="{{img}}" class="card-img-top" alt="{{title}}">
          <div class="card-body">
            <h5 class="card-title">Title : {{title}}</h5>
            <p class="card-text price">{{price}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <a href="/courses/{{_id}}" class="btn btn-primary">View</a>
              <a href="/courses/{{_id}}/edit?allow=true" class="btn btn-warning">Edit</a>
              <form action="/card/add" method="post">
                <input type="hidden" name="id" value="{{_id}}" >
                <button type="submit" class="btn btn-success">Buy course</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  {{else}}
    <p class="text-warning">Courses is not exist !</p>
  {{/if}}
</div>