<h1>Edit {{course.title}}</h1>

<form action="/courses/edit" method="post">
  <div class="form-group">
    <label for="title">Course title</label>
    <input id="title" name="title" type="text" value="{{course.title}}" class="form-control" required>
  </div>
  <div class="form-group">
    <label for="price">Course price</label>
    <input id="price" name="price" type="number" value="{{course.price}}" min="1" class="form-control" required>
  </div>
  <div class="form-group">
    <label for="img">Course title</label>
    <input id="img" name="img" type="text" value="{{course.img}}" class="form-control" required>
  </div>
  <input type="hidden" name="id" value="{{course._id}}">
  <button class="btn btn-primary shadow my-2">Edit course</button>
</form>

<form action="/courses/remove" method="post">
  <input type="hidden" name="id" value="{{course._id}}">
  <button class="btn btn-danger">Delete</button>
</form>