<h1>Orders</h1>

{{#if orders.length}}
      <div class="row">
        {{#each orders}}
          <div class="col-md-6">
            <div class="card p-2 border-0  shadow rounded">
              <div class="card-id">{{_id}}</div>
              <div class="card-date">{{date}}</div>
              <div class="card-owner">
                <p class="m-0">Name :{{user.userId.name}}</p>
                <p class="m-0">Email :{{user.userId.email}}</p>
              </div>
              <div class="course-list">
                {{#each courses}}
                  <ol>
                    <li>{{course.title}}</li> (x{{count}})
                  </ol>
                {{/each}}
              </div>
              <div class="price">
                {{price}}
              </div>
            </div>
          </div>
        {{/each}}
      </div>
{{else}}
<p>There is no orders</p>
{{/if}}