*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}
.main-container{
	background-color:lightskyblue !important;
}

.course{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.course h2{
	font-size: 2em;
}

.course img{
	max-width:600px;
	margin:auto;
	height:auto;
}

.course .price{
	font-size: 2.5rem;
}